<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ SITEURL }}/images/favicon.ico">
    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body id="index" class="home">
{% include 'github.html' %}
    <div id="wrapper">
        <header id="banner" class="body">
            <h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
            <br/><nav><ul>
            {% for pg in PAGES %}
                <li{% if pg == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a></li>
            {% endfor %}
            </ul></nav>
        </header>
        {% block content %}
        {% endblock %}
        <div class="clear-footer"></div>
    </div>
    <footer id="contentinfo" class="body">
        <div class="social">
            <a href="mailto:me@nortonwang.com" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-envelope fa-stack-1x dat-icon"></i>
                </span>
            </a>
            <a href="https://github.com/FloorLamp" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x dat-icon"></i>
                </span>
            </a>
            <a href="http://www.linkedin.com/profile/view?id=78287269" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x dat-icon"></i>
                </span>
            </a>
            <a href="https://twitter.com/floatfloatboat" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x dat-icon"></i>
                </span>
            </a>
            <!-- <a class="lastfm" href="http://www.last.fm/user/nortantivirus" target="_blank"></a> -->
        </div>
        <p>
            ©2013 {{ AUTHOR }}
            <br/>Built with <a href="https://github.com/getpelican/pelican" target="_blank">Pelican</a>.
        </p>
    </footer>

{% include 'analytics.html' %}
{% include 'piwik.html' %}
</body>
</html>
